@{
	ViewData["Title"] = "Filter Search";
}

<div class="row">
	<div class="col-md-4">
		<form asp-action="FilterSearch">
			<div class="form-group">
				<label class="control-label">Select month</label>
				<select name="month" class="form-control" asp-items="Html.GetEnumSelectList<Months>()"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Filter" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>